@mixin gradient-aurora($direction: 135deg) {
  background: linear-gradient($direction, #0DCDEF, #1AD792);
}

@mixin gradient-border-aurora($radius: 9999px, $direction: 90deg, $border-width: 1px) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: $radius;
    padding: $border-width;
    background: linear-gradient($direction, #0DCDEF, #1AD792);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}