DOMAIN=portfoliov3.dev.local
NUXT_PUBLIC_SITE_URL=http://portfoliov3.dev.local
NUXT_API_BASE_URL=http://portfolio-api
NUXT_PUBLIC_API_BASE_URL=http://portfoliov3.api.dev.local
NUXT_PUBLIC_MATOMO_URL=https://matomo.jonathanlore.fr
NUXT_PUBLIC_MATOMO_SITE_ID=1